<div class="col-12">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <strong>Goals Against Average</strong>
      </div>
      <div class="card-block">
        <% @home.players.limit(3).where.not(pos_abr: %w[F D], games_played: '0').each_with_index do |gaa, i| %>
          <div class="table-responsive">
            <strong>
              <span class="float-left"><%= i += 1 %>. </span>
              <span class="float-left"><%= gaa.name %></span>
              <span class="float-right"><%= '%.2f' % gaa.gaa %></span>
            </strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
