<div class="col-12">
  <div class="card">
    <div class="card-header">
      <strong>Plus / Minus Leaders</strong>
    </div>
    <div class="card-block">
      <% @home.players.limit(3).where(posAbr: %w[F D]).order(pim: :desc).each_with_index do |pim, i| %>
        <div class="table-responsive">
          <strong>
            <span class="float-left"><%= i += 1 %>. </span>
            <span class="float-left"> <%= pim.name %></span>
            <span class="float-right"><%= pim.pim %></span>
          </strong>
        </div>
      <% end %>
    </div>
  </div>
</div>
