<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-center">
        <strong>Score by Period</strong>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>FINAL</th>
                <th class="text-center">1ST</th>
                <th class="text-center">2ND</th>
                <th class="text-center">3RD</th>
                <th class="text-center">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <td class="text-left"><%= @home.team_name %></td>
              <td class="text-center">3</td>
              <td class="text-center">3</td>
              <td class="text-center">0</td>
              <td class="text-center">6</td>
            </tbody>
            <tbody>
              <td class="text-left"><%= @away.team_name %></td>
              <td class="text-center">1</td>
              <td class="text-center">1</td>
              <td class="text-center">0</td>
              <td class="text-center">2</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
