<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-center">
        <strong>Team Stats</strong>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">SOG</th>
                <th class="text-center">PP</th>
                <th class="text-center">PIM</th>
                <th class="text-center">PK</th>
              </tr>
            </thead>
            <tbody>
              <td class="text-left"><%= @home.team_name %></td>
              <td class="text-center">70</td>
              <td class="text-center">4/7</td>
              <td class="text-center">10</td>
              <td class="text-center">4/4</td>
            </tbody>
            <tbody>
              <td class="text-left"><%= @away.team_name %></td>
              <td class="text-center">24</td>
              <td class="text-center">0/4</td>
              <td class="text-center">52</td>
              <td class="text-center">3/7</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
