<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-center">
        <strong>Team Stats</strong>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">SOG</th>
                <th class="text-center">SH%</th>
                <th class="text-center">SVS</th>
                <th class="text-center">SVS%</th>
                <th class="text-center">PP</th>
                <th class="text-center">PP%</th>
                <th class="text-center">PIM</th>
                <th class="text-center">PK</th>
                <th class="text-center">PK%</th>
              </tr>
            </thead>
            <%= render 'schedules/partials/home/home_stats' %>
            <%= render 'schedules/partials/away/away_stats' %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
