@import 'bootstrap';

html, body {
  min-height: 100%;
}

body {
  padding: 80px 30px 0 30px;
  /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
