/*
*= require dataTables/jquery.dataTables
*/
@import 'bootstrap';

html, body {
  position: relative;
  min-height: 100%;
}

body {
  padding: 90px 30px 30px 30px;
}

// Card Spacing
.card-deck {
  padding-top: 30px;
}

// Show Schedule Lineups
.lineups {
  padding-top: 15px;
}

// Data Tables Spacing
.dataTables_wrapper {
  padding-top: 30px;
}

// Team Logos Index
.team-logos {
  padding-bottom: 50px;
  padding-right: 50px;
}

// Show score on Schedule Item
.item-score {
  font-size: 350%;
}

// Show Score on Completed Games
.score {
  font-size: 500%;
}

// Team Abr on Stats page
.stats {
  font-size: 75%;
}

// Update Button
.update-button {
  padding-top: 30px;
}

// Footer
.footer {
  position: relative;
  padding-top: 20px;
  bottom: 0;
}

// Player add buttons
.player-pos {
  padding-bottom: 30px;
}

@media (min-width: 769px) and (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }

  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }

  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (max-width:499px) {
  .navbar-collapse {
    text-align: center;
  }

  .item-score {
    font-size: 200%;
  }
}
