<div class="card">
  <div class="card-header">
    <strong>Team Assist Leaders</strong>
  </div>
  <div class="card-block">
    <% @assists.each_with_index do |assists, i| %>
      <div class="table-responsive">
        <span><strong><%= i += 1 %>. </strong></span>
        <span><strong><%= assists.name %></strong></span>
        <span class="float-right"><strong><%= assists.assists %></strong></span>
      </div>
    <% end %>
  </div>
</div>
