<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Team Goal Leaders</strong>
    </div>
    <div class="card-block">
      <% @skate.limit(5).order(goals: :desc).each_with_index do |skate, i| %>
        <div class="table-responsive">
          <span><%= i += 1 %>. </span>
          <span><%= skate.name %></span>
          <span class="float-right"><%= skate.goals %></span>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-muted text-center">
      <%= link_to 'League Goal Leaders', goals_stats_path %>
    </div>
  </div>
</div>
