<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Team SVS Leaders</strong>
    </div>
    <div class="card-block">
      <% @team.players.limit(5).where(pos_abr: 'GK').order(svs: :desc).each_with_index do |gk, i| %>
        <div class="table-responsive">
          <span><%= i += 1 %>. </span>
          <span><%= gk.name %></span>
          <span class="float-right">.<%= gk.svs %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
