<% if @upcoming.home_team_id == @team.id %>
  <div class="card-deck">
    <div class="card">
      <div class="card-header"><strong>Next Opponent</strong></div>
      <div class="card-block">
        <div class="row">
          <div>Home vs <%= @upcoming.away_team.team_name %></div>
        </div>
      </div>
    </div>
  </div>
<% elsif %>
  <div class="card-deck">
    <div class="card">
      <div class="card-header"><strong>Next Opponent</strong></div>
      <div class="card-block">
        <div class="row">
          <div>Away vs <%= @upcoming.home_team.team_name %></div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>No upcoming games :(</p>
<% end %>
