<div class="table-responsive">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th>Pos</th>
      </tr>
    </thead>
    <tbody>
      <% @away.players.each do |away| %>
        <tr>
          <td><%= away.number %></td>
          <td class="float-left"><%= away.name %></td>
          <td><%= away.posAbr %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
