<div role="tabpanel" class="tab-pane fade in active" id="name">
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
    </tr>
  <% end %>
</div>
