<div role="tabpanel" class="tab-pane fade" id="position">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Skaters</a>
      <% @skate.each_with_index do |skaters, i| %>
        <td><%= i += 1 %>. </td>
        <td><%= skaters.name %></td>
      <% end %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Forwards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Defence</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Goalie</a>
  </li>
</ul>
</div>
