<div class="col-12">
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#name" role="tab" data-toggle="tab">Name</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#position" role="tab" data-toggle="tab">Position</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#team" role="tab" data-toggle="tab">Team</a>
    </li>
  </ul>
</div>
