<div role="tabpanel" class="tab-pane fade" id="team">
  <td>Botany Swarm</td>
  <td>Canterbury Red Devils</td>
  <td>Dunedin Thunder</td>
  <td>Skycity Stampede</td>
  <td>West Auckland Admirals</td>
</div>
