<div class="container-fluid">
  <div class="row">
    <div class="col text-center">Stats by Position, Team, Catergory</div>
  </div>
  <%= render 'stats/partials/teams' %>
  <%= render 'stats/partials/position' %>
  <div class="row">
    <div class="col-6">
      <%= render 'stats/partials/stat/gaa' %>
    </div>
    <div class="col-6">
      <%= render 'stats/partials/stat/svs' %>
    </div>
  </div>
</div>
