<div class="container-fluid">
  <div class="row">
    <div class="col text-center">Stats by Team and Catergory</div>
  </div>
  <%= render 'stats/partials/teams' %>
  <%= render 'stats/partials/position' %>
  <%= render 'stats/partials/stat/points' %>
</div>
