<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Goals Against Average Leaders</strong>
    </div>
    <div class="card-block">
      <% @gk.limit(5).order(:gaa).each_with_index do |gk, i| %>
        <div class="table-responsive">
          <span><%= i += 1 %>. </span>
          <span><%= gk.name %></span>
          <span><small class="stats"><%= gk.team.abr %></small></span>
          <span class="float-right"><%= '%.2f' % gk.gaa %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
