<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Save Percentage Leaders</strong>
    </div>
    <div class="card-block">
      <% @gk.limit(5).order(svs: :desc).each_with_index do |gk, i| %>
        <div class="table-responsive">
          <span><%= i += 1 %>. </span>
          <span><%= gk.name %></span>
          <span><small class="stats"><%= gk.team_abr %></small></span>
          <span class="float-right">.<%= gk.svs %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
